<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="Page Titile">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="msapplication-tap-highlight" content="no">
            
        <title>User Profile</title>
        <!-- base css -->
        <link rel="stylesheet" media="screen, print" href="<%= Routes.static_path(@conn, "/css/vendors.bundle.css") %>" />
        <link rel="stylesheet" media="screen, print" href="<%= Routes.static_path(@conn, "/css/default.css") %>" />
        <link rel="stylesheet" media="screen, print" href="<%= Routes.static_path(@conn, "/css/app.bundle.css") %>" />
        <link rel="mask-icon" color="#5bbad5" href="<%= Routes.static_path(@conn, "/css/datagrid/datatables/datatables.bundle.css") %>" />
        <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/img/favicon/apple-touch-icon.png") %>" />
        <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/img/favicon/favicon-32x32.png") %>" />
        <link rel="mask-icon" color="#5bbad5" href="<%= Routes.static_path(@conn, "/img/favicon/safari-pinned-tab.svg") %>" />
    </head>

    <body>
        <div class="page-wrapper">
            <div class="page-inner" style="background-color: #e6e6e6;">
                <div class="page-content-wrapper bg-transparent m-0">
                    <!--Navbar -->
                    <nav class="navbar navbar-expand-lg" style="background-color: #6f43c1;">
                        <a class="navbar-brand d-flex align-items-center fw-500" href="#">
                            <span class="mr-5 text-white">
                              FleetHUB
                            </span>
                        </a>
                    </nav>

                    <!--content -->
                    <div class="container-fluid">
						<main id="js-page-content" role="main" class="page-content">
							<div class="row">
								<div class="col-md-1"></div>

								<div class="col-md-10">
								    <ol class="breadcrumb page-breadcrumb">
								        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
								    </ol>

								    <div class="subheader">
								        <h1 class="subheader-title text-black">
								            <i class="subheader-icon fal fa-users text-black"></i> Profile
								            <div class="element-box-content">
									            <a href="<%= Routes.user_path(@conn, :dashboard)%>" class="btn btn-sm btn-outline-primary btn-pills waves-effect waves-themed" type="button">
													<i class="fal fa-reply"></i> Back
												</a>
									            

									            <%= if @conn.assigns.user.user_type == "2" do %>
									            	<a href="<%= Routes.teller_path(@conn, :index)%>" class="btn btn-sm btn-info" type="button"> Back</a>
									            <% end %>

									            <%= if @conn.assigns.user.user_type == "3" do %>
									            	<a href="<%= Routes.client_path(@conn, :index)%>" class="btn btn-sm btn-info" type="button"> Back</a>
									            <% end %>
									        </div>
								        </h1>								        
								    </div>

									<!------------------------------------------------------------------------------->
									<div class="row">
										<!-- profile summary -->
										<div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">
											<div class="card mb-g rounded-top">
												<div class="row no-gutters row-grid">
													<div class="col-12">
														<div class="d-flex flex-column align-items-center justify-content-center p-4">
																
															<%= if @conn.assigns.user.sex == "M" do %>
																<img class="rounded-circle shadow-2 img-thumbnail" alt="<%= "#{(@conn.assigns.user.first_name)}"%> <%= "#{(@conn.assigns.user.last_name)}"%>" src="<%= Routes.static_path(@conn, "/images/avatar/3.png") %>">
															<% end %>

															<%= if @conn.assigns.user.sex == "F" do %>
																<img class="rounded-circle shadow-2 img-thumbnail" alt="<%= "#{(@conn.assigns.user.first_name)}"%> <%= "#{(@conn.assigns.user.last_name)}"%>" src="<%= Routes.static_path(@conn, "/images/avatar/2.jpg") %>">
															<% end %>

															
															<h5 class="mb-0 fw-700 text-center mt-3">
																<%= "#{(@conn.assigns.user.first_name)}"%> <%= "#{(@conn.assigns.user.last_name)}"%>
															</h5>
														</div>
													</div>

													<div class="col-12">
														<div class="p-3 text-center">
															<a href="mailto:<%= "#{(@conn.assigns.user.email)}"%>?" class="btn-link font-weight-bold">
																<i class="fal fa-envelope"></i>Email
															</a> 
															<span class="text-primary d-inline-block mx-3">&#9679;</span>
															<a href="tel:<%= "#{(@conn.assigns.user.phone)}"%>" class="btn-link font-weight-bold">
																<i class="fal fa-phone"></i>Call
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- profile -->
										<div class="col-lg-12 col-xl-9 order-lg-3 order-xl-2">
											<div id="panel-1" class="panel">
												<div class="panel-hdr">
													<h2>
														User Details
													</h2>
												</div>

												<div class="panel-container show">
													<div class="panel-content">
														<div class="table-responsive w3-animate-top">
															<table class="table table-hover table-clean">
																<tbody>
																<tr>
																	<th style="width: 150px">Sex:</th>
																	<td><%= "#{(@conn.assigns.user.sex)}"%></td>
																</tr>

																<tr>
																	<th style="width: 150px">Phone:</th>
																	<td><%= "#{(@conn.assigns.user.phone)}"%></td>
																</tr>

																<tr>
																	<th style="width: 150px">Email:</th>
																	<td><%= "#{(@conn.assigns.user.email)}"%></td>
																</tr>

																<tr>
																	<th style="width: 150px">Identity Type:</th>
																	<td><%= "#{(@conn.assigns.user.id_type)}"%></td>
																</tr>

																<tr>
																	<th style="width: 150px">ID Number:</th>
																	<td><%= "#{(@conn.assigns.user.nrc_no)}"%></td>
																</tr>

																<tr>
																	<th style="width: 150px">User Role:</th>
																	<td><%= "#{(@conn.assigns.user.user_role)}"%></td>
																</tr>

																<tr>
																	<th style="width: 150px">Created on:</th>
																	<td>
																		<%= "#{(@conn.assigns.user.inserted_at)}"%>
																	</td>
																</tr>   
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
						    	</div>

						    	<div class="col-md-1"></div>
							</div>
						</main>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
